.client_cell_container{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD,5,0,0,7);
}

.client_cell_container FontAwesomeIconView{
    -fx-fill: #00264D;
}

.client_cell_container HBox{
    -fx-spacing: 10;
    -fx-alignment: center;
}

.client_cell_container HBox Label{
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.acc_display_lbl {
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.delete_btn{
    -fx-text-fill: white;
    -fx-background-color: #cf0a0a;
    -fx-border-color: #4b0909;
}

.delete_btn FontAwesomeIconView{
    -fx-fill: white;
}

.delete_btn:hover{
    -fx-cursor: hand;
}