.clients_container{
    -fx-background-color: linear-gradient(to bottom, #f4f7fa, #e8ecf3);

}

.clients_container Text{
    -fx-fill: #555555;
    -fx-font-size: 1.8em;
    -fx-font-family: "Calibri Light";
}

.clients_container .list-view{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.clients_container .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 0;
}