.dashboard {
    -fx-background-color: white ;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri Light";
}

.accounts_view {
    -fx-background-color: white;
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
}

.account{
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0 , 10);
}
.account VBox {
    -fx-background-color: #FFFFFF;
}
.account Text{
    -fx-fill: #FFFFFF;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}